/vendor
/node_modules
/public/build
/public/hot
/public/storage
/.env
/.env.backup
/.env.testing
.htpasswd
.phpunit.result.cache
docker-compose.override.yml
IDE
.php-cs-fixer.cache
*.swp
*.swo
*~
/scripts
